{% extends "frontend/base.html" %}
{% block title %}Новый водитель{% endblock %}
{% block content %}
<section class="form-page">
    <h1>Добавление водителя</h1>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-row">
                <label>{{ field.label }}</label>
                {{ field }}
                {{ field.errors }}
            </div>
        {% endfor %}
        <button type="submit">Создать</button>
    </form>
</section>
{% endblock %}