{% extends "frontend/base.html" %}

{% block title %}Новая заявка{% endblock %}

{% block content %}
<section class="form-page">
  <h1>Добавление заявки</h1>

  <form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}

    {% for field in form %}
      <div class="form-row">
        <label>{{ field.label }}</label>
        {{ field }}
        {% if field.help_text %}<small>{{ field.help_text }}</small>{% endif %}
        {{ field.errors }}
      </div>
    {% endfor %}

    <button type="submit">Сохранить</button>
  </form>
</section>
{% endblock %}